* {
    background:     #282c34;
    foreground:     #bbc2cf;
    border:         2px solid #61afef;
    border-radius:  8px;
    padding:        5px;
    font: "Iosevka 10";
    selected-background: #61afef;
    selected-foreground: #282c34;
    alternate-background: #3b4048;
    alternate-foreground: #ffffff;
}

